@import url("../fonts/Cantarell/style.css");
@import url("../fonts/FontAwesome/styles.min.css");
@import url("../fonts/Ubuntu/style.css");




.no-user-select{
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
html,body{
    height:100%;
    margin: 0;
    font-family: Ubuntu;
}
*{
    box-sizing: border-box;
}
#root{
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
}